<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
  <script src="https://unpkg.com/vue-gallery-slideshow@1.5.2/dist/js/vue-gallery-slideshow.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Charijoy</title>
</head>
<body>
    <div class="portfolio">
        <header class="header">
          <div class="tenor-gif-embed" data-postid="26157329" data-share-method="host" data-aspect-ratio="1.28" data-width="15%">
            <a href="https://tenor.com/view/nagumo-sakamoto-days-gif-26157329">Nagumo Sakamoto GIF</a> from <a href="https://tenor.com/search/nagumo-gifs">Nagumo GIFs</a>
          </div>
          <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
          <h1>Hallo!</h1>
          <a href="index.html"><button class="button button1">Start</button></a>
          <a href="html/interests.html"><button class="button button2">Interests</button></a>
          <a href="html/survey.html"><button class="button button3">Survey</button></a>
          <a href="html/resources.html"><button class="button button4">Resources</button></a>
        </header>
        <section class="projects">
          <div class="project">
            <div class="project-info">
              <h3>Hobbies & Interests</h3>
                  <ul>
              <li>Blackpink (Jennie Kim)</li>
              <li>Mangas/Manhwas/Manhuas (Just Twilight, Sakamoto Days, The Return of the 
                  Crazy Demon)</li>
              <li>Animes (Zom 100: Bucketlist of the Dead, Chainsaw Man)</li>
              <li>Pirates of the Carribean</li>
          </ul>
            </div>
          </div>
          <div class="project">
            <div class="project-info">
              <h3>Goals in Life</h3>
              <ul>
              <li>Have successful businesses</li>
              <li>Be a model at least once</li>
              <li>Master a musical instrument</li>
              <li>Retire early</li>
              <li>Find my purpose</li>
              <li>Master a sport</li>
              <li>Be active in fitness and gym</li>
              <li>Have a healthy skin, mind, and body</li>
          </ul>
            </div>
          </div>
        </section>
        <footer class="footer"><h3>Picture Gallery</h3>
          <main class="cards">
          <div id="app">
            <img class="image" v-for="(image, i) in images" :src="image" @click="onClick(i)">
            <vue-gallery-slideshow v-if="showSlideshow" :images="images" :index="index" @close="closeSlideshow"></vue-gallery-slideshow>
          </div>
          </main>
        </footer>
        <script src="js/image.js"></script>
</body>
</html>